        <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
				<h1 style="text-align:center; position: relative;">StupidStats</h1>
				<br>
				<br>
               <div class="box effect7">
				  <h2>Poops Today: {{counterPoopPeople | number:'2.0-2'}}</h2>
				</div>
				<div class="box effect7">
				  <h2>Porn Videos Made Today: {{counterPornVideo | number:'2.0-0'}}</h2>
				</div>
				<div class="box effect7">
				  <h2>Porn Videos Watched Today: {{counterWatchignPorn | number:'2.0-2'}}</h2>
				</div>
				<div class="box effect7">
				  <h2>CellPhones Trashed Today: {{counterTrashCell | number:'2.0-2'}}</h2>
				</div>
				<div class="box effect7">
				  <h2>Pizzas Baked Today: {{counterPizza | number:'2.0-2'}}</h2>
				</div>
				<div class="box effect7">
				  <h2>Kgs of Chocolate Made Today: {{counterChocolate | number:'2.0-2'}}</h2>
				</div>
				<div class="box effect7">
				  <h2>Air Inhaled by Blue Whale: {{counterAirBlueWhale | number:'2.0-2'}}</h2>
				</div>
				<div class="box effect7">
				  <h2>Sexual Intercourses Today: {{counterSexualIntercourse | number:'2.0-2'}}</h2>
				</div>
            </div>
        </div>
    </div>