<nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="index.html">
    <img alt="Brand" src="img/brand.png" class="d-inline-block align-top" width="30" height="30" >
    Stupid Stats
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active"
        [class.active]="aba == 'home'"
        (click)="aba = 'home'" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
        [class.active]="aba == 'about'"
        (click)="aba = 'about'" href="#">About</a>
    </li>
    <li class="nav-item">
      <!--a class="nav-link disabled" href="#">Contact us</a-->
      <a class="nav-link" 
        [class.active]="aba == 'contact'"
        (click)="aba = 'contact'" href="#">Contact us</a>
    </li>
  </ul>
</nav>
<br><br><br>
<div *ngIf="aba == 'home'">
  <app-stats></app-stats>
</div>
<div *ngIf="aba == 'about'">
  <app-about></app-about>
</div>
<div *ngIf="aba == 'contact'">
  <app-contact></app-contact>
</div>